@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input, a, button {
  font-family: "Poppins", sans-serif; 
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3590F0;
  position: fixed;
  z-index: 10; 
}

header button{
  box-shadow: none;
  outline: none;
  text-decoration: none;
  border: none;
}

header button i {
  cursor: pointer;
  border: none;
  background: #3590F0;
  color: white;
  font-size: 2rem;
}

header button i:hover { 
  color: #444;
}

/* Animación al icono nube
header button i:hover {
  position:relative;
  background-color: #444444;
  overflow:hidden;
  transform:scale(1.1, 1.1);
  transition: 0.8s all;
}  */

/* Navbar */

nav ul li a{
  color: white; 
}

nav ul li a:hover{
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
}

li a:hover {
  background-color: #4d84e2;
}


/* Body */

.container {
  position: relative;
  width: 100%;
  height: 80%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  z-index: 10px;
}

.forms-container {  
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.inicio {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
  text-align: center;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.1rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.5rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

/* Botón entrar */

.btn  {
  width: 100%;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s; 
}

.btn:hover {
  background-color: #4d84e2;
  
}

/* Icono Github */

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

/* Panel Izquierdo */

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

/* FOOTER */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; 
  color:#444444;
  padding-top: 10px;
}

footer a{
  color: #3590F0;
  text-decoration: none;
}


/* TABLE */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}
table th,
table td {
  padding: 0.625em;
  text-align: center;
}
table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


/* DARKMODE STYLE  */

body.darkmode {
  background-color: rgb(31, 36, 40);
  color: white;
}
.darkmode header {
  background-color: rgb(36, 41, 46);
  color: white;
}
.darkmode header a {
  color: white;
}
.darkmode button {
  color: white;
}
.darkmode button:hover {
  background-color: white;
  color: black;
}
.darkmode main blockquote {
  border-left-color: #333;
  background-color: #222;
}
.darkmode table {
  border: 1px solid #24292e;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.darkmode table tr {
  background-color: #1f2428;
  border: 1px solid #24292e;
  padding: 0.35em;
}





















